HASURA_GRAPHQL_ADMIN_SECRET=secret@123
HASURA_GRAPHQL_JWT_SECRET='{"type":"RS512","key":"-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1iLIQWT6Vzp3mgGSL++J\n1gMGW5iDQGEB9MOjk3kYSg0gSytN24nT5H0MvKhHOnCBpqszDBIbV18a+r8PCM6Q\nTOKNQv0aLXuINmzturHtahBvLfBc+Zfs73KjY/EK/aoRl7GuOT6kO26YxriBagc4\nHvC9etgjTC35pIPp+MkpY4jLNzHcUVO6O0I25D0zsVjMzB3EniTSQ1f15Xul6Jfa\nlBxR72SagIzWZZ5/Y3/b7FZnivlUQPJFbywYLkAzhr6HUQKfy+s4GFZsai1Ve4BD\n8Wdc+U79M/e5g81GbMSwjY4ZXe6cA0NYS5rUHl+ZT4Q6e3Ut8HxSQNXXxie0k4mt\ntQIDAQAB\n-----END PUBLIC KEY-----\n"}'
